<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.layout.example.project3app2">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
android:theme="@style/Theme.AppCompat.NoActionBar">
        >
        <receiver android:name="MyReceiver"
            android:exported="true"
            android:enabled="true"
            android:label="App1 Receiver">

            <intent-filter>
                <action android:name="com.layout.example.project3.Receiver.Chicago"/>
                <action android:name="com.layout.example.project3.Receiver.IndianaPolis"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".ActivityPlacesOfInterestChicago"
            android:label="@string/app_name"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.layout.example.project3.Receiver.Chicago"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityPlacesOfInterestIndianaPolis"
            android:label="@string/app_name"

            >
            <intent-filter>

                <action android:name="com.layout.example.project3.Receiver.IndianaPolis"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
